{% load static %}
  <div id="about-section">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Sobre nós</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Somos uma empresa com foto em ajudar você com inovações inteligente e da forma mais rápida possível, entregando sempre o melhor para o cliente.</p>
      </div>
      <div class="row">
        <div class="col-md-6"> <img src="{% static 'img/about.jpg' %}" class="img-responsive"></div>
        <div class="col-md-6">
          <div class="about-text">s
            <h4>O que nós pregamos</h4>
            <p>Pregamos nossos valores, o que nós podemos oferecer, serviços rápidos, sempre comprometido com a visão do cliente.</p>
            <h4>Nossos Valores</h4>
            <p>Os valores são tudo o que é inegociável no seu negócio, aquilo que pode ou não pode fazer ali dentro, a sua lei. Você tem uma missão que te faz existir e uma visão de onde quer chegar, mas isso nunca pode ser às custas dos seus valores.</p>
          </div>
        </div>
      </div>
    </div>
  </div>