{% extends 'base.html' %}
{% load static %}
    {% block content %}

      <!-- Services Section -->
       {% include 'servicos.html' %}
      <!-- Services End -->

    <!-- About Section -->
    {% include 'about.html' %}
    <!-- About End -->

    <!-- Portifolio Section -->
    {% include 'portifo.html' %}
    <!-- Portifolio End -->

    <!-- Conquistas Section -->
    {% include 'conquistas.html' %}
    <!-- Conquistas End -->

    <!-- Team Section -->
    {% include 'time.html' %}
    <!-- Team End -->

    <!-- Contact Section -->
    {% include 'contato.html' %}
    <!-- Contact End -->

    <!-- Contact Section -->
    {% include 'social.html' %}
    <!-- Contact End -->

    {% endblock %}
