{% load static %}
<div id="works-section">
    <div class="container"> <!-- Container -->
      <div class="section-title text-center center">
        <h2>Nosso Portfólio</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Uma empresa focada em ajudar quem está precisando.</p>
      </div>
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">Todos</a></li>
              <li><a href="#" data-filter=".web">Web Design</a></li>
              <li><a href="#" data-filter=".app">Desenvolvedor Mobile</a></li>
              <li><a href="#" data-filter=".branding">Branding</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/01.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Web Design</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/01.jpg' %}" class="{% static 'img-responsive' %}" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 app">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/02.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>App Development</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/02.jpg' %}" class="{% static 'img-responsive' %}" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/03.jpg" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Desenvolvedor Web</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/03.jpg' %}" class="{% static 'img-responsive' %}" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/04.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Desenvolvedor Web</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/04.jpg' %}" class="{% static 'img-responsive' %}" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 app">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/05.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Desenvolvedor Web</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/05.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 branding">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/06.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Branding</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/06.jpg' %}" class="{% static 'img-responsive' %}" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 branding app">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{% static 'img/portfolio/07.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Desenvolvedor Mobile</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/07.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="% static 'img/portfolio/08.jpg' %}" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>Project Title</h4>
                  <small>Desenvolvedor Web</small>
                  <div class="clearfix"></div>
                </div>
                <img src="{% static 'img/portfolio/08.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

